<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .header{
    background-color: beige;
    padding: 10px 20px;
  }
  .right{
    float: right;
  }
  .element {
      margin: 0 20px;
    }
</style>
</head>
<body>
    <header th:fragment="header" class="header">
        <img src="" alt="ロゴ" class="left element">
        <a href="/main" class="left element">ホーム</a>
        <a href="/" class="left element">ユーザー</a>
        <a href="/" class="left element">あげあげ運勢</a>

        <a href="/" class="right element">ログイン</a>
        <a href="/" class="right element">ユーザー登録</a>
    </header>
</body>
</html>