<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
    <nav th:fragment="nav" id="nav">
        <div class="d-flex justify-content-end me-2 pe-2">
            <span class="square_btn cursor-pointer" th:onclick="|closeAction()|"></span>
        </div>
        
        <ul class="list-unstyled px-3 pt-1">
            <li class="mb-2">
                <a href="" class="dropdown-item">ホーム</a>
            </li>
            <li class="mb-2">
                <a href="" class="dropdown-item">プロフィール</a>
            </li>
            <li class="mb-2">
                <a href="" class="dropdown-item">あげあげ運勢</a>
            </li>
            <li class="mb-2" th:if="${#authentication.principal != 'anonymousUser'}">
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" class="dropdown-item" value="ログアウト"/>
                </form>
            </li>
        </ul>
    </nav>
</body>
</html>