<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FortuneMapper">

    <select id="selectFortuneById" resultType="com.example.demo.model.Fortune">
        SELECT * FROM fortune WHERE id = #{id}
    </select>

    <!-- 更多的SQL映射可以在这里添加 -->

</mapper>
