<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodReplyLikeMapper">
    <resultMap type="com.example.entity.GoodReplyLike" id="goodReplyLikeMap">
        <id column="ID" property="id"/>
        <result column="REPLY_ID" property="replyId"/>
        <result column="USER_ID" property="userId"/>
    </resultMap>
    
    <insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
        INSERT INTO GOOD_REPLY_LIKES (
            ID, REPLY_ID, USER_ID
        ) VALUES (
            GOOD_REPLY_LIKES_ID_SEQ.nextval, #{replyId}, #{userId}
        )
    </insert>
    
    <delete id="delete">
        DELETE FROM GOOD_REPLY_LIKES
        WHERE
            REPLY_ID = #{replyId} AND USER_ID = #{userId}
    </delete>
</mapper>