<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodChatMapper">
    <resultMap type="com.example.entity.GoodChat" id="goodChatMap">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="MESSAGE" property="message"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="DELETED_AT" property="deletedAt"/>
        
        <association property="chatUser" javaType="com.example.entity.User">
            <id column="UC_ID" property="id"/>
            <result column="UC_EMAIL" property="email"/>
            <result column="UC_PASSWORD" property="password"/>
            <result column="UC_NAME" property="name"/>
            <result column="UC_CHOISE_GOOD" property="choiseGood"/>
            <result column="UC_CHOISE_BAD" property="choiseBad"/>
            <result column="UC_BIRTHDAY" property="birthday"/>
            <result column="UC_IMAGE" property="image"/>
            <result column="UC_MONEY" property="money"/>
            <result column="UC_JOB" property="job"/>
            <result column="UC_LOVE" property="love"/>
            <result column="UC_MOTIVATION" property="motivation"/>
        </association>
        
        <collection property="goodReplies" ofType="com.example.entity.GoodReply">
            <id column="GR_ID" property="id"/>
            <result column="GR_USER_ID" property="userId"/>
            <result column="GR_CHAT_ID" property="chatId"/>
            <result column="GR_MESSAGE" property="message"/>
            <result column="GR_CREATED_AT" property="createdAt"/>
            <result column="GR_DELETED_AT" property="deletedAt"/>
            <association property="replyUser" javaType="com.example.entity.User">
                <id column="UR_ID" property="id"/>
	            <result column="UR_EMAIL" property="email"/>
	            <result column="UR_PASSWORD" property="password"/>
	            <result column="UR_NAME" property="name"/>
	            <result column="UR_CHOISE_GOOD" property="choiseGood"/>
	            <result column="UR_CHOISE_BAD" property="choiseBad"/>
	            <result column="UR_BIRTHDAY" property="birthday"/>
	            <result column="UR_IMAGE" property="image"/>
	            <result column="UR_MONEY" property="money"/>
	            <result column="UR_JOB" property="job"/>
	            <result column="UR_LOVE" property="love"/>
	            <result column="UR_MOTIVATION" property="motivation"/>
            </association>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="goodChatMap">
        SELECT
            GC.*
            , GR.ID AS GR_ID
            , GR.USER_ID AS GR_USER_ID
            , GR.CHAT_ID AS GR_CHAT_ID
            , GR.MESSAGE AS GR_MESSAGE
            , GR.CREATED_AT AS GR_CREATED_AT
            , GR.DELETED_AT AS GR_DELETED_AT
            , UC.NAME AS UC_NAME
            , UR.NAME AS UR_NAME
	   FROM
	       GOOD_CHATS GC
	   LEFT OUTER JOIN GOOD_REPLIES GR
	       ON GC.ID = GR.CHAT_ID
	   LEFT OUTER JOIN USERS UC
	       ON GC.USER_ID = UC.ID
	   LEFT OUTER JOIN USERS UR
	       ON GR.USER_ID = UR.ID
    </select>
</mapper>