<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MainMapper">
    <resultMap type="com.example.entity.GoodChat" id="mainGoodMap">
        <id column="ID" property="id"/>
        <result column="MESSAGE" property="message"/>
        <result column="createdAt" property="createdAt"/>
        <result column="deletedAt" property="deletedAt"/>
        <result column="goodReplies" property="goodReplies"/>
    </resultMap>
    
    <resultMap type="com.example.entity.BadChat" id="mainBadMap">
        <id column="ID" property="id"/>
        <result column="MESSAGE" property="message"/>
        <result column="createdAt" property="createdAt"/>
        <result column="deletedAt" property="deletedAt"/>
        <result column="goodReplies" property="goodReplies"/>
    </resultMap>

    <select id="findGoodChatRandom" resultMap="mainGoodMap">
    	select * From user;
<!--        SELECT * FROM (SELECT * FROM GOOD_CHATS ORDER BY DBMS_RANDOM.VALUE) WHERE ROWNUM <= 2;-->
    </select>

<!--    <select id="findBadChatRandom" resultMap="mainBadMap">-->
<!--        SELECT * FROM (SELECT * FROM BAD_CHATS ORDER BY DBMS_RANDOM.VALUE) WHERE ROWNUM <= 2;-->
<!--    </select>-->
</mapper>