<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.mapper.ProfileMapper">

<resultMap id="ProfileMap" type="com.example.entity.Profile">
        <!-- 确保这些列名与数据库中的列名完全一致 -->
        <id column="ID" property="id"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="NAME" property="name"/>

    <result column="CHOISE_GOOD" property="choiseGood"/>
    <result column="CHOISE_BAD" property="choiseBad"/>

        <result column="BIRTHDAY" property="birthday"/>
        <result column="IMAGE" property="image"/>
        <result column="MONEY" property="money"/>
        <result column="JOB" property="job"/>
        <result column="LOVE" property="love"/>
        <result column="MOTIVATION" property="motivation"/>
    </resultMap>

     <select id="getUserProfileById" resultMap="ProfileMap">
        SELECT * FROM USERS WHERE ID = #{id}
    </select>

    
<!-- 更新 Good 和 Bad 计数 -->
<update id="updateGoodBadCount">
    UPDATE USERS
    SET CHOISE_GOOD = #{goodCount}, CHOISE_BAD = #{badCount}
    WHERE ID = #{id}
</update>

    

</mapper>