<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/main :: main(~{::title}, ~{::body/content()})}">
<head>
    <meta charset="UTF-8">
    <title>Good</title>
</head>
<body>
    <main>
        <h1 class="text-center">Good</h1>
        <div class="chat-wrap">
            <div class="chat-content mt-3" onclick="chatContent(2, 'user name')">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                    </div>
                    <div>
                        <div>user name</div>
                        <div>
                            メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。メッセージ内容です。
                        </div>
                        <div class="d-flex">
                            <div class="small-font mt-1">メッセージを返信する</div>
                            <div class="heart-position">
                                <div class="heart"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                
            <div class="reply-content mt-2 ms-4">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                    </div>
                    <div>
                        <div>user name</div>
                        <div>
                            返信内容です。
                        </div>
                        <div class="small-font mt-1">メッセージを返信する</div>
                    </div>
                </div>
            </div>
                
            <div class="chat-content mt-3" onclick="chatContent(1, 'hogehogesan')">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                    </div>
                    <div>
                        <div>user name</div>
                        <div>
                            メッセージ内容です。
                        </div>
                        <div class="d-flex">
                            <div class="small-font mt-1">メッセージを返信する</div>
                            <div class="me-3"><a href="" class="link-danger text-decoration-none fw-bold small-font">削除</a></div>
                        </div>
                        
                     </div>
                </div>
            </div>
            
            
            <div>
                ここから下がDBから取得したデータです。
                <div th:each="goodChat : ${goodChats}">
                    <div th:text="${goodChat.id}"></div>
                    <div th:text="${goodChat.userId}"></div>
                    <div th:text="${goodChat.message}"></div>
                    <div th:text="${goodChat.createdAt}"></div>
                </div>
            </div>
    </main>
</body>
</html>