<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/main :: main(~{::title}, ~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Good</title>
</head>
<body>
    <main>
        <div class="container py-5">
            <h1 class="text-center">Good</h1>
            <div class="chat-wrap">
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                        </div>
                        <div>
                            <div>user name</div>
                            <div>
                                メッセージ内容です。
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                        </div>
                        <div>
                            <div>user name</div>
                            <div>
                                メッセージ内容です。
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <div class="me-3">
                            <img th:src="@{/images/monster02.png}" alt="icon" width="50" height="50" class="rounded-circle">
                        </div>
                        <div>
                            <div>user name</div>
                            <div>
                                メッセージ内容です。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <form>
                <div class="d-flex">
                    <div class="pe-2">
                        <textarea id="story" name="story" rows="1" class="w-100 border border-secondary rounded"></textarea>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">送信</button>
                    </div>
                </div>
            </form>
            

    </main>
</body>
</html>