<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/chats/main :: main(~{::title}, ~{::body/content()})}">
<head>
    <meta charset="UTF-8">
    <title>Good</title>
</head>
<body>
    <main>
        <div class="genre w-100">
            <h1 class="genre-type"><span class="good-marker">Good</span></h1> 
        </div>
            
        <div id="chat-wrap">
            <div th:each="goodChat : ${goodChats}" class="chat-content mt-3" th:id="'chat_' + ${goodChat.id}">
                <div class="d-flex align-items-start">
                    <div class="me-3">
                        <th:block th:if="${goodChat.chatUser.image}">
                            <img th:src="${goodChat.chatUser.image}" alt="icon" width="50" height="50" class="rounded-circle">
                        </th:block>
                        <th:block th:unless="${goodChat.chatUser.image}">
                            <img src="/images/icons/no_icon.png" alt="icon" width="50" height="50" class="rounded-circle">
                        </th:block>
                    </div>
                    <div>
                        <div class="name-style" th:text="${goodChat.chatUser.name}"></div>
                        <div th:text="${goodChat.message}" th:attr="onclick='chatAction(' + ${goodChat.id} + ', \'' + ${goodChat.chatUser.name} + '\')'" class="cursor-pointer"></div>
                        
                        <div class="heart-position heart-action active" th:if="${#lists.contains(goodChat.goodChatLikes.![userId], #authentication.principal.user.id)}">
                            <div class="heart cursor-pointer" th:attr="onclick='chatLikeAction(' + ${goodChat.id} + ', this)'"></div>
                            <div class="heart-count" th:text="${goodChat.goodChatLikesCount}"></div>
                        </div>
                        
                        <div class="heart-position heart-action" th:unless="${#lists.contains(goodChat.goodChatLikes.![userId], #authentication.principal.user.id)}">
                            <div class="heart cursor-pointer" th:attr="onclick='chatLikeAction(' + ${goodChat.id} + ', this)'"></div>
                            <div class="heart-count" th:text="${goodChat.goodChatLikesCount}"></div>
                        </div>
                        
                        <div class="d-flex align-items-center mt-2 aligin-delete">
                            <div class="small-font cursor-pointer" th:onclick="|chatAction('__${goodChat.id}__', '__${goodChat.chatUser.name}__')|">
                                メッセージを返信する
                            </div>
                            <th:block th:if="${goodChat.userId == #authentication.principal.user.id}">
                                <a href="javascript:void(0)" th:onclick="|chatDeleteAction(this)|" class="d-inline-block ms-4 link-danger text-decoration-none fw-bold delete-font">削除</a>
                            </th:block>
                        </div>
                    </div>
                </div>
                
                
                
                <div th:each="goodReply : ${goodChat.goodReplies}" class="reply-content mt-2 ms-5"  th:id="'reply_' + ${goodReply.id}" th:if="${goodReply.id != null}">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            <img th:src="${goodReply.replyUser.image}" alt="icon" width="50" height="50" class="rounded-circle">
                        </div>
                        <div>
                            <div class="name-style" th:text="${goodReply.replyUser.name}"></div>
                            <div th:text="${goodReply.message}"></div>
                                               
                            <div class="heart-position heart-action active" th:if="${#lists.contains(goodReply.goodReplyLikes.![userId], #authentication.principal.user.id)}">
                                <div class="heart cursor-pointer" th:attr="onclick='replyLikeAction(' + ${goodReply.id} + ', this)'"></div>
                                <div class="heart-count" th:text="${goodReply.goodReplyLikesCount}"></div>
                            </div>
                            
                            <div class="heart-position heart-action" th:unless="${#lists.contains(goodReply.goodReplyLikes.![userId], #authentication.principal.user.id)}">
                                <div class="heart cursor-pointer" th:attr="onclick='replyLikeAction(' + ${goodReply.id} + ', this)'"></div>
                                <div class="heart-count" th:text="${goodReply.goodReplyLikesCount}"></div>
                            </div>
                            
                            <div class="d-flex align-items-center mt-2 aligin-delete">
                                <div class="small-font">メッセージを返信する</div>
                                <th:block th:if="${goodReply.userId == #authentication.principal.user.id}">
                                    <a href="javascript:void(0)" th:onclick="|replyDeleteAction(this)|" class="d-inline-block ms-4 link-danger text-decoration-none fw-bold delete-font">削除</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>