<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>

	</script>
	<link rel="stylesheet" href="css/mainPage.css">
	<link rel="stylesheet" href="css/header.css">
</head>
<body>
     <header th:replace="~{layout/header :: header}"></header> 
    <h1 class="title">あげあげサイト</h1>
    <h5 class="text">
		このサイトはユーザーを明るい気持ちにすることを目的にしたサイトです!<br>まずはあなたの気持ちを教えてください!(GOOD/BADの選択回数は記録されます)
	</h5>

    <div class="main_chat">
        <div class="child">
			<a href="/main/countGood" >GOOD</a>
            <br>
            <table th:each="goodchat : ${goodchats}">
				<tr th:text="${goodchat.message}"></tr>
            </table>
        </div>
    
        <div class="child">
            <a href="/main/countBad" >BAD</a>
            <br>
            <table th:each="badchat : ${badchats}">
				<tr th:text="${badchat.message}"></tr>
            </table>
        </div>     
    </div>

</body>
</html>