@charset "UTF-8";
		#label{
			display: flex;
    		justify-content: center;
		}
		
		#label1{
			display: flex;
    		justify-content: center;
    		margin-top: 10px;
		}

		#chat{
            border: solid;
            border-radius: 25px;
            padding: 15px;
            padding-left: 30px;
            padding-right: 30px;
            margin: 30px;
            margin-top: 40px;
        }
        
        .btn{
			margin-top: 10px;
		}
		
		span{
            background: linear-gradient(transparent 60%, rgb(249,249,1, 0.9) 60%);
        }
