@charset "UTF-8";
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.profile-header {
   position: relative; /* 设置为相对定位，伪元素将相对于它定位 */
  display: inline-block; /* 使 h1 标签的宽度仅包围文字 */
  margin-bottom: 60px; /* 增加至所需的间距大小 */
}

.profile-detail {
    margin-top: 40px; /* 如果需要，也可以增加上方的间距 */
  margin-bottom: 20px; /* 已有样式，根据需要进行调整 */
}

/* 调整按钮样式 */
button.btn {
  width: 120px;
  height: 40px;
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

/* 增加按钮与choice显示之间的间距 */
.buttons-container { /* 假设这是包含按钮的容器的类名 */
  margin-bottom: 30px;
}

/* 增加choice显示与圆环图之间的间距 */
.choice-display { /* 假设这是显示goodchoice和badchoice的容器的类名 */
  margin-bottom: 30px;
}

#goodBadDoughnutChart {
    width: 400px;
    height: 400px;
}

.underline {
    width: 90%; /* 文字宽度的三分之一 */
    height: 10px; /* 横线的高度 */
    background-color: yellow; /* 横线的颜色 */
    margin: 0 auto; /* 水平居中 */
    margin-top: -25px; /* 距离标题的距离 */
}
