@charset "UTF-8";
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 30px; /* 调整内边距 */
    border: 2px solid #ddd; /* 添加边框 */
    border-radius: 10px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    background-color: #fff; /* 设置背景颜色 */
}

.profile-header {
   position: relative; 
   display: inline-block; 
   margin-bottom: 60px; 
}

.profile-detail {
    margin-top: 40px; 
    margin-bottom: 20px; 
    margin-left: 20px; /* 调整左右外边距 */
    margin-right: 20px; 
}

/* 调整按钮样式 */
button.btn {
  width: 120px;
  height: 40px;
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.buttons-container { 
  margin-bottom: 30px;
  margin-left: 20px; /* 调整左右外边距 */
  margin-right: 20px; 
}

.choice-display { 
  margin-bottom: 30px;
  margin-left: 20px; /* 调整左右外边距 */
  margin-right: 20px; 
}

#goodBadDoughnutChart {
    width: 400px;
    height: 400px;
}

.underline {
    width: 90%; 
    height: 10px; 
    background-color: yellow; 
    margin: 0 auto; 
    margin-top: -25px; 
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px; /* 减少内边距 */
    }
}

