@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
}

.profile-container {
  width: 300px;
  border: 1px solid #000;
  padding: 10px;
  margin: auto;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin: auto;
}

.profile-info {
  text-align: center;
}

.profile-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rating-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.rating-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: blue; /*  'Good' */
  border-radius: 100px 0 0 100px;
}

.rating-circle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: red; /*  'Bad' */
  border-radius: 0 100px 100px 0;
}

.profile-rating-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  color: #fff;
}


.chart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
}

.bars {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px; /* チャートの高さ */
    margin: 0;
}

.bar {
    width: 20%; /* バーの幅 */
    background-color: #4CAF50; /* バーの色 */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: height 0.5s;
}

.bar span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}

.bar::before {
    content: attr(data-value) '%';
    margin-bottom: 5px;
}

/* JavaScriptを使用してバーの高さを動的に設定します */
.bar[data-value="60"] { height: 60%; }
.bar[data-value="80"] { height: 80%; }
.bar[data-value="75"] { height: 75%; }

#goodBadDoughnutChart {
    width: 400px;
    height: 400px;
    display: block; /* 防止默认的内联行为 */
    margin: auto; /* 居中显示 */
}


