<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>プロフィール</title>
    <link rel="stylesheet" href="/css/ProfileStyle.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<header th:replace="~{layout/header :: header}"></header> 
    <div class="container">
        <div class="profile-header">
            <h1>プロフィール</h1>
        </div>

        <!-- Profile Details -->
        <div class="profile-detail">
            <strong>名前:</strong> <span th:text="${profile.name}">name</span>
        </div>
        <div class="profile-detail">
            <strong>誕生日:</strong> <span th:text="${profile.birthday}">Birthday</span>
        </div>
        <div class="profile-detail">
            <strong>本日の意気込み:</strong> <span th:text="${profile.motivation}">Motivation</span>
        </div>

        <!-- Buttons for Good and Bad Counts -->
        <button onclick="updateCount('good')">Good</button>
        <button onclick="updateCount('bad')">Bad</button>

        <!-- Canvas for the Doughnut Chart -->
        <canvas id="goodBadDoughnutChart"></canvas>

    </div>
    
    <!-- Inline script to define profile data -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var profile = /*[[${profile}]]*/ {'id': 1, 'choiceGood': 10, 'choiceBad': 5};
        /*]]>*/
    </script>

    <script src="/js/Profile.js"></script>
</body>
</html>
