<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>プロフィール</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ProfileStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header th:replace="~{layout/header :: header}"></header> 
    
    <div class="container text-center">
        <div class="profile-header">
            <h1>プロフィール</h1>
            <div class="underline"></div> <!-- 新增横线的div -->
            
          <a href="/edit" class="btn btn-secondary text-end mt-3">ユーザー設定</a>

        </div>

        <!-- Profile Details -->
        <div>
			<img th:src="${profile.image}" class="rounded-circle" width="50" heigth="50">
		</div>
        <div class="profile-detail">
            <strong>名前:</strong> <span th:text="${profile.name}">name</span>
        </div>
        <div class="profile-detail">
            <strong>誕生日:</strong> <span th:text="${profile.birthday}">Birthday</span>
        </div>
        <div class="profile-detail">
            <strong>本日の意気込み:</strong> <span th:text="${profile.motivation}">Motivation</span>
        </div>

        <!-- Buttons for Good and Bad Counts -->
        <div class="buttons-container">
            <button class="btn btn-primary" onclick="updateCount('good')">Good</button>
            <button class="btn btn-danger" onclick="updateCount('bad')">Bad</button>
        </div>
        
        <div class="d-flex justify-content-center">
			<div class="choice-display">
	            <div>goodchoice</div>
	            <div th:text="${profile.choiceGood}"></div>
	        </div>
	        
	        <div class="choice-display">
	            <div>badchoice</div>
	            <div th:text="${profile.choiceBad}"></div>
	        </div>
		</div>
        
        
        <div>
			<div>金運</div>
            <div th:text="${profile.money}"></div>
		</div>
		
		<div>
			<div>仕事運</div>
            <div th:text="${profile.job}"></div>
		</div>
				
		<div>
			<div>恋愛運</div>
            <div th:text="${profile.love}"></div>
		</div>

        <!-- Canvas for the Doughnut Chart -->
        <canvas id="goodBadDoughnutChart"></canvas>
        <canvas id="fortuneChart"></canvas>
    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var profile = /*[[${profile}]]*/ {'id': 1, 'choiceGood': 10, 'choiceBad': 5};
        /*]]>*/
        const goodChoise = /*[[${profile.choiceGood}]]*/"goodChoice";
        const badChoise = /*[[${profile.choiceBad}]]*/"badChoice";
        
        let money = /*[[${profile.money}]]*/"money";
		let job = /*[[${profile.job}]]*/"job";
		let love = /*[[${profile.love}]]*/"love";
    </script>

    <script src="/js/Profile.js"></script>
    <div th:replace="footer :: footer"></div>

</body>
</html>
