<!DOCTYPE html>
<html lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>User Profile Page</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="profile-container">
  <div class="profile-picture"></div>
  <div class="profile-info">
    <h3>ユーザー名</h3>
    <p>1983/8/17</p>
    <p>東京都 住所地86 番地91</p>
  </div>
  <div class="profile-rating">
    <div class="rating-circle">
      <span class="profile-rating-text">Good/Bad</span>
    </div>
  </div>
</div>

</body>
</html>
