<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:fragment="main(title, content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title th:replace="${title}"></title>
    
    <link href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/chat.css}" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        
        <div th:replace="${content}"></div>
        
        <!--
            GoodかBadかで条件分岐をする
        -->
        <th:block th:if="${goodChats}">
            <div id="form-style" class="w-100 d-inline-block">
                <form id="form-block" class="container flex-shrink-1" th:object="${messageForm}" th:action="@{/main/good/message}" method="POST">
                    <div class="click-action">
                        <div id="clicked-name" class="me-2"></div>
                        <span class="round_btn" onclick="closeAction()"></span>
                    </div>
                    <div class="d-flex mt-2 w-100">
                        <div class="pe-2 chat-form">
                            <textarea th:field="*{message}" class="form-control" rows="1" oninput="autoresize()" placeholder="メッセージを入力"></textarea>
                        </div>
                        <div class="d-flex align-items-end chat-post">
                             <button type="button" class="btn btn-primary w-100" onclick="sendMessage()">送信</button>
                        </div>
                    </div>
                </form>
            </div>
        </th:block>
        
        <th:block th:if="${badChats}">
            <div id="form-style" class="w-100 d-inline-block">
                <form id="form-block" class="container flex-shrink-1" th:object="${messageForm}" th:action="@{/main/bad/message}" method="POST">
                    <div class="click-action">
                        <div id="clicked-name" class="me-2"></div>
                        <span class="round_btn" onclick="closeAction()"></span>
                    </div>
                    <div class="d-flex mt-2 w-100">
                        <div class="pe-2 chat-form">
                            <textarea th:field="*{message}" class="form-control" rows="1" oninput="autoresize()" placeholder="メッセージを入力"></textarea>
                        </div>
                        <div class="d-flex align-items-end chat-post">
                             <button type="button" class="btn btn-primary w-100" onclick="sendMessage()">送信</button>
                        </div>
                    </div>
                </form>
            </div>
        </th:block>
        
        
    </div>
    
    <script th:inline="javascript">
        const loginUserId = /*[[${loginUserId}]]*/"loginUserId";
    </script>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer th:src="@{/js/formAction.js}"></script>
    <!--
        GoodかBadでjsファイルを変更する(条件分岐)
    -->
    <th:block th:if="${goodChats}">
        <script defer th:src="@{/js/goodLikeHandle.js}"></script>
        <script defer th:src="@{/js/goodLikeAction.js}"></script>
        <script defer th:src="@{/js/goodDeleteHandle.js}"></script>
        <script defer th:src="@{/js/goodDeleteAction.js}"></script>
        <script defer th:src="@{/js/goodChat.js}"></script>
    </th:block>
    
    <th:block th:if="${badChats}">
        <script defer th:src="@{/js/badLikeHandle.js}"></script>
        <script defer th:src="@{/js/badLikeAction.js}"></script>
        <script defer th:src="@{/js/badDeleteAction.js}"></script>
        <script defer th:src="@{/js/badChat.js}"></script>
    </th:block>
</body>
</html>