<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:fragment="main(title, content)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title th:replace="${title}"></title>
    
    <link href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/chat.css}" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        
        <div th:replace="${content}"></div>
        
        <!--
            GoodかBadかで条件分岐をする
        -->
        <form id="form-block" class="container" th:object="${messageForm}" th:action="@{/main/good/message}" method="POST">
            <div class="click-action">
                <div id="clicked-name" class="me-2"></div>
                <span class="round_btn" onclick="closeAction()"></span>
            </div>
            <div class="d-flex mt-2 w-100">
                <div class="pe-2 chat-form">
                    <textarea th:field="*{message}" class="form-control" rows="1"></textarea>
                </div>
                <div class="d-flex align-items-end chat-post">
                     <button type="button" class="btn btn-primary w-100" onclick="sendMessage()">送信</button>
                </div>
            </div>
        </form>
    </div>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--
        GoodかBadでjsファイルを変更する(条件分岐)
    -->
    <script defer th:src="@{/js/goodLike.js}"></script>
    <script defer th:src="@{/js/goodChat.js}"></script>
</body>
</html>